<ion-view cache-view="false" class="homeView" view-title="Home" hide-nav-bar="true">


    <ion-content class="center-content padding" overflow-scroll="true">


        <img src="img/jelly-blue.png" alt="Jelly Blue" class="animated tada animatedDelay" on-tap="animateLogo($event)" style="width: 30%; max-width: 500px;">
        
        <img src="img/jelly-yellow.png" alt="Jelly Yellow" class="animated tada animatedDelay" on-tap="animateLogo($event)" style="width: 30%; max-width: 500px;">
        
        <img src="img/jelly-red.png" alt="Jelly Red" class="animated tada animatedDelay" on-tap="animateLogo($event)" style="width: 30%; max-width: 500px;">
        
        <img src="img/jelly-green.png" alt="Jelly Green" class="animated tada animatedDelay" on-tap="animateLogo($event)" style="width: 30%; max-width: 500px;">

        <img src="img/jelly-pink.png" alt="Jelly Pink" class="animated tada animatedDelay" on-tap="animateLogo($event)" style="width: 30%; max-width: 500px;">
        
        <img src="img/jelly-grey.png" alt="Jelly Grey" class="animated tada animatedDelay" on-tap="animateLogo($event)" style="width: 30%; max-width: 500px;">



        <div class="card animated bounceInUp animatedDelay">

            <h1>
            <span style="color:#ff1a1a;">J</span>
            <span style="color:#ffff4d;">e</span>
            <span style="color:#66d9ff;">l</span>
            <span style="color:#4dff4d;">l</span>
            <span style="color:#ff66cc;">y</span><br/> 
            <span style="color:#66d9ff;">H</span>
            <span style="color:#ff66cc;">e</span>
            <span style="color:#ffff4d;">a</span>
            <span style="color:#ff1a1a;">d</span>
            <span style="color:#4dff4d;">s</span>
            <span style="color:#ff66cc;">!</span>
            </h1>

        </div>


        <button class="button button-block button-light" style="background:#6200ff;" nav-clear ui-sref="app.game">

            <h3 style="color:white;"><strong>PLAY</strong></h3>

        </button>

        <div class="card animated bounceInUp animatedDelay">

            <h1>By <span style="color:#66d9ff;">Mike!</span></h1>

        </div>


    </ion-content>
</ion-view>